$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a80f05f837d8d612b510edaac717e72e") format("truetype"),
url("./flaticon.woff?a80f05f837d8d612b510edaac717e72e") format("woff"),
url("./flaticon.woff2?a80f05f837d8d612b510edaac717e72e") format("woff2"),
url("./flaticon.eot?a80f05f837d8d612b510edaac717e72e#iefix") format("embedded-opentype"),
url("./flaticon.svg?a80f05f837d8d612b510edaac717e72e#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "headphones": "\f101",
    "location": "\f102",
    "original": "\f103",
    "parachute": "\f104",
    "registration": "\f105",
    "star": "\f106",
    "winner": "\f107",
);

.flaticon-headphones:before {
    content: map-get($flaticon-map, "headphones");
}
.flaticon-location:before {
    content: map-get($flaticon-map, "location");
}
.flaticon-original:before {
    content: map-get($flaticon-map, "original");
}
.flaticon-parachute:before {
    content: map-get($flaticon-map, "parachute");
}
.flaticon-registration:before {
    content: map-get($flaticon-map, "registration");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-winner:before {
    content: map-get($flaticon-map, "winner");
}
